
<div class="widget-partners widget">
    <h4 class="widget__title">Parceiros</h4>
    <div class="widget__content">
        <ul class="widget__list">
            <li><a href="http://www.mundodocker.com.br/" target="_blank"><span></span>Mundo Docker</a></li>
            <li><a href="https://hernandev.com/" target="_blank"><span></span>Hernandev</a></li>
            <li><a href="https://www.fernandoike.com" target="_blank"><span></span>Fernando Ike</a></li>
            <li><a href="http://somatorio.org" target="_blank"><span></span>Somatório</a></li>
            <li><a href="http://profpv.blogspot.com/" target="_blank"><span></span>Prof PV</a></li>
            <li><a href="http://p-celta.blogspot.com/" target="_blank"><span></span>PCelta</a></li>
            <li><a href="http://123esqueceoresto.blogspot.com.br/" target="_blank"><span></span>123 Esquece o resto</a></li>
            <li><a href="http://www.tekniq.com.br/" target="_blank"><span></span>Tekniq</a>
            <li><a href="http://techfree.com.br/" target="_blank"><span></span>TechFree - Tecnologia Livre</a></li>
            </li>
        </ul>
    </div>
</div>